@import "../../styles/variables";

.Container--Course {
  width: 90%;
  height: 100%;

  .CourseCard {
    height: 100%;
    background-color: $dark-blue;
    border-radius: 5px;
    padding: 2rem;

    &__title {
      padding-top: 9rem;
      font-size: 2.3rem;
      color: $dark-white;
      font-family: "Work Sans";
      font-weight: 500;
      text-align: center;
    }
    &__description {
      padding-top: 2rem;
      font-size: 1.3rem;
    }

    &--false {
      display: none;
    }
    &--true {
      display: block;
    }
  }

  .CourseIcon {
    display: flex;
    justify-content: center;
    &__wrapper {
      height: 7rem;
      width: 7rem;
      background-color: $dark-blue;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    transition: all 1s;

    &__icon {
      height: 5rem;
    }

    &--true {
      transform: translateY(-31rem);
    }
    &--false {
      transform: translateY(7rem);
    }
  }
}
