@import "../../styles/variables";

.Container--Course {
  width: 90%;
  height: 100%;
  position: relative;

  .CourseCard {
    height: 100%;
    border-radius: 5px;
    padding: 2rem;

    &--dark {
      background-color: $dark-blue;
    }
    &--light {
      background-color: $light-blue-square-background;
    }

    transition: all 0.8s;

    &__title {
      padding-top: 9rem;
      font-size: 2.3rem;
      font-family: "Work Sans";
      font-weight: 500;
      text-align: center;

      &--light {
        color: $light-black;
      }
      &--dark {
        color: $dark-white;
      }
    }
    &__description {
      padding-top: 2rem;
      font-size: 1.4rem;

      &--light {
        color: #000;
      }
      &--dark {
        color: #fff;
      }
    }

    &--false {
      opacity: 0;
    }
    &--true {
      opacity: 1;
    }
  }

  .CourseIcon {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);

    &__wrapper {
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &--light {
        background-color: $light-blue-square-background;
      }
      &--dark {
        background-color: $dark-blue;
      }
    }

    transition: all 0.5s;

    &__icon {
      height: 5rem;
    }

    &--true {
      transform: translateX(-50%) translateY(-100%);
    }
    &--false {
      transform: translateX(-50%) translateY(0);
    }
  }
}
