$dark-bg: #222831;
$dark-black: #252525;
$dark-red: #5d0404;
$dark-blue: #083350;
$dark-red-light: #861616;
$dark-purple: #4b347b;
$dark-yellow: #c39234;
$dark-white: #ffffff;
$dark-card-face: #353941;
$dark-grey-border: #707070;

$link-color: #0368ec;

$light-bg: #e8e9ec;
$light-black: #1f1a1b;
$light-grey: #c2c5cb;
$light-grey-light: #d5dde6;
$light-red: #d31a1a;
$light-red-light: #d32929;
$light-purple: #693bc9;
$light-yellow: #ffc453;
$light-card-face: #eceff2;
