$dark-bg: #222831;
$dark-black: #252525;
$dark-red: #5d0404;
$dark-blue: #083350;
$dark-red-light: #861616;
$dark-purple: #4b347b;
$dark-yellow: #c39234;
$dark-white: #ffffff;
$dark-card-face: #353941;
$dark-grey-border: #707070;

$link-color: #0368ec;

$light-bg: #e8e9ec;
$light-black: #1f1a1b;
$light-grey: #c2c5cb;
$light-grey-light: #d5dde6;
$light-red: #d31a1a;
$light-red-light: #d32929;
$light-purple: #693bc9;
$light-yellow: #ffc453;
$light-card-face: #eceff2;
$light-blue-square-background: #dce0ea;

$react-logo: #61dafb;
$css3-logo: #264de4;
$html5-logo: #f16529;
$javascript-logo: #f0db4f;
$redux-logo: #764abc;
$npm-logo: #cc3534;

$mongoDB-logo: #4db33d;
$nodejs-logo: #3c873a;
$docker-logo: #0db7ed;
$redis-logo: #d82c20;
$postgress-logo: #4356c1;

$linkedin-logo: #3248ed;
$gmail-logo: #b52d2d;
$github-logo: #ffffff;
