@import "../../styles/variables";

.Container--Skills {
  position: relative;
  &--dark {
    background-color: $dark-bg;
  }

  &--light {
    background-color: $light-bg;
  }
}

.skills {
  position: relative;
  &__header {
    padding-top: 3rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;

    &--dark {
      color: $dark-white;
    }
    &--light {
      color: $light-black;
    }
  }

  &__icon {
    height: 70%;
    display: block;
    transition: all 0.5s ease;
    cursor: pointer;
    fill: "";

    &:hover {
      transform: scale(1.1);
    }

    &--react {
      &--active {
        fill: $react-logo;
      }
      &:hover {
        fill: $react-logo;
      }
    }
    &--css {
      &--active {
        fill: $css3-logo;
      }
      &:hover {
        fill: $css3-logo;
      }
    }
    &--html {
      &--active {
        fill: $html5-logo;
      }
      &:hover {
        fill: $html5-logo;
      }
    }
    &--js {
      &--active {
        fill: $javascript-logo;
      }
      &:hover {
        fill: $javascript-logo;
      }
    }
    &--redux {
      &--active {
        fill: $redux-logo;
      }
      &:hover {
        fill: $redux-logo;
      }
    }
    &--npm {
      &-active {
        fill: $npm-logo;
      }
      &:hover {
        fill: $npm-logo;
      }
    }
    &--node {
      &--active {
        fill: $nodejs-logo;
      }
      &:hover {
        fill: $nodejs-logo;
      }
    }
    &--mongodb {
      &--active {
        fill: $mongoDB-logo;
      }
      &:hover {
        fill: $mongoDB-logo;
      }
    }
    &--docker {
      &--active {
        fill: $docker-logo;
      }
      &:hover {
        fill: $docker-logo;
      }
    }
    &--redis {
      &--active {
        fill: $redis-logo;
      }
      &:hover {
        fill: $redis-logo;
      }
    }
    &--postgresql {
      &--active {
        fill: $postgress-logo;
      }
      &:hover {
        fill: $postgress-logo;
      }
    }
  }
}

.container--skills {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 5% 1fr;

  .technologies {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    justify-items: center;
    align-items: center;

    &__header {
      grid-column: 1/-1;
      font-size: 1.5rem;

      &--light {
        color: $dark-black;
      }
      &--dark {
        color: $dark-white;
      }
    }
  }

  .seperator--skills {
    justify-self: center;
    margin-top: 5rem;
    align-self: center;
    content: "";
    display: block;
    height: 80%;
    width: 1px;
    border: 1px solid rgba($dark-grey-border, 0.5);
  }
}

.container--icon {
  width: 20rem;
  height: 17rem;

  border: solid 1px rgba($dark-grey-border, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  &--light {
    background-color: $light-blue-square-background;
  }
  &--dark {
    background-color: $dark-black;
  }

  &--middle {
    grid-column: 1/-1;
  }
}
