@import "../../styles/variables";

.Container--More {
  padding: 1rem 2rem;
  position: relative;
}

.name {
  font-size: 13rem;
  font-weight: 400;
  color: $dark-white;
  margin: -1rem auto;

  &__container {
    display: flex;
    justify-content: center;
    animation: nameHead 2s forwards ease-in-out;
    transition: 0.5s;
    &--initial {
      transform: translateY(25rem);
    }
    &--load {
      transform: translateY(0);
    }
  }
}

.homeArrow {
  height: 3rem;
  polyline,
  line {
    stroke: #fff;
  }

  transition: transform 0.2s;

  &--back {
    transform: translateX(-2rem) scale(1.2);
  }

  &__container {
    width: 4rem;
    height: 4rem;
    z-index: 100;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10rem;

  position: absolute;
  left: 2rem;
  top: 2rem;

  transition: opacity 1s ease;

  &--hide {
    opacity: 0;
  }
  &--show {
    opacity: 1;
  }

  &__title {
    color: #fff;
    font-size: 1.3rem;
  }
}

.portrait {
  width: 50rem;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;

  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  transition: opacity 1s ease;

  &--hide {
    opacity: 0;
  }
  &--show {
    opacity: 1;
  }
}

.about {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 1s ease;

  &--hide {
    opacity: 0;
  }
  &--show {
    opacity: 1;
  }

  &__main {
    color: $dark-white;
    font-size: 2rem;
    display: flex;
    align-items: center;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 45rem;
      background-color: $dark-white;
    }
    &::before {
      margin-right: 5rem;
    }
    &::after {
      margin-left: 5rem;
    }
  }
}

.section {
  padding-top: 5rem;
  width: 100%;
  display: flex;
  &__img {
    height: 40rem;
    display: block;
    &--left {
      &--initial {
        transform: translateX(30rem);
      }
      &--load {
        transition: all 1s ease-in-out;
        transform: translateX(-7rem);
      }
    }
  }

  .info {
    width: 50%;
    align-self: center;
    transition: opacity 2s ease;

    &--load {
      opacity: 1;
    }
    &--initial {
      opacity: 0;
    }

    &__header {
      font-size: 4rem;
      color: $dark-white;
    }
    &__body {
      font-size: 1.2rem;
      color: $dark-white;
      column-count: 2;
      width: 70%;
    }
  }
}

@keyframes nameHead {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
