@import "../../styles/variables";

.Container--More {
  padding: 1rem 2rem;
  position: relative;
}

.name {
  font-size: 13rem;
  font-weight: 400;
  color: $dark-white;
  margin: -1rem auto;

  &__container {
    display: flex;
    justify-content: center;
    animation: nameHead 2s forwards ease-in-out;
    transition: 0.5s;
    &--initial {
      transform: translateY(25rem);
    }
    &--load {
      transform: translateY(0);
    }
  }
}

.homeArrow {
  height: 3rem;
  polyline,
  line {
    stroke: #fff;
  }

  transition: transform 0.2s;

  &--back {
    transform: translateX(-2rem) scale(1.2);
  }

  &__container {
    width: 4rem;
    height: 4rem;
    z-index: 100;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10rem;

  position: absolute;
  left: 2rem;
  top: 2rem;

  transition: opacity 1s ease;

  &--hide {
    opacity: 0;
  }
  &--show {
    opacity: 1;
  }

  &__title {
    color: #fff;
    font-size: 1.3rem;
  }
}

.portrait {
  width: 50rem;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;

  transition: opacity 1s ease;

  &--hide {
    opacity: 0;
  }
  &--show {
    opacity: 1;
  }
}

.about {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 1s ease;

  &--hide {
    opacity: 0;
  }
  &--show {
    opacity: 1;
  }

  &__main {
    color: $dark-white;
    font-size: 2rem;
    display: flex;
    align-items: center;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 2px;
      width: 35rem;
      background-color: $dark-white;
    }
    &::before {
      margin-right: 5rem;
    }
    &::after {
      margin-left: 5rem;
    }
  }
}

@keyframes nameHead {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
