@import "../../styles/variables";
@import "../../styles/mixins";

.Card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 45rem;
  width: 30rem;
  font-size: 2rem;
  transition: all 0.8s ease;
  z-index: 7;
  position: absolute;

  @include respond(phone-land) {
    height: 45rem;
  }

  //moves other cards to right
  &--active {
    z-index: 100;

    &--right {
      transform: translateX(-27rem);
      @include respond(tab-land) {
        transform: translateX(-28rem);
      }
    }
  }

  &__side {
    height: 90%;
    width: 30rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
    padding: 1rem;
    backface-visibility: hidden;
    z-index: 7;

    @include respond(tab-land) {
      width: 32rem;
    }
    @include respond(tab-port) {
      width: 93%;
    }
    @include respond(phone) {
      width: 90%;
      height: 110%;
    }
    @include respond(phonex) {
      width: 80%;
      height: 110%;
    }

    //moves back to side
    &--active {
      width: 63rem;
      z-index: 100;
      transform: scale(1.1) translateX(-2rem);
    }

    &--light {
      background-color: $light-blue-square-background;
    }

    &--dark {
      background-color: $dark-black;
    }

    &--back {
      transform: rotateY(180deg);
      cursor: pointer;
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__logo {
    height: 8.5rem;

    &--problem {
      transform: rotate(180deg);
    }

    @include respond(phone) {
      height: 11rem;
    }
  }

  &__content {
    border: 1px solid rgba($dark-grey-border, 0.5);
    width: 28rem;
    height: 100%;
    border-radius: 0.3rem;
    padding: 2rem;
    text-align: center;
    position: relative;
    z-index: 5;
    transition: all 0.5s;

    @include respond(tab-land) {
      width: 30rem;
    }
    @include respond(tab-port) {
      width: 26rem;
    }

    @include respond(phone) {
      width: 25rem;
    }
    @include respond(phonex) {
      width: 23rem;
    }

    &__header {
      @include respond(phone) {
        font-size: 3.5rem;
      }
    }

    //expands front card forward
    &--active {
      width: 28rem;
      z-index: 10;
      transform: scale(1.1) translateX(-2rem);
      @include respond(tab-land) {
        width: 30rem;
      }
    }

    &--light {
      background-color: $light-grey;
    }

    &--dark {
      background-color: $dark-card-face;
    }

    &--front {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &--back {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .Card__content__info {
        font-size: 1.8rem;
      }
    }
  }
}

.hidden-container {
  width: 55%;
  height: 100%;
  padding: 1rem;
  text-align: center;
  position: absolute;
  padding: 0 3rem;
  top: 0;
  right: 0;
  z-index: 1;
  font-size: 1.7rem;

  overflow: scroll;

  &--dark {
    color: $dark-white;
  }

  &--light {
    color: $light-black;
  }
}

// .loading-dots {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .dots {
//     &,
//     &::before,
//     &::after {
//       width: 1.5rem;
//       height: 1.5rem;
//       background-color: $dark-white;
//       display: inline-block;
//       border-radius: 50%;
//     }
//     & {
//       animation: bounce 2s ease infinite;
//       animation-delay: 0s;
//     }
//     &::before {
//       content: "";
//       margin-right: -5rem;
//       animation: bounce 2s ease infinite;
//       // animation-delay: -1s;
//     }

//     &::after {
//       content: "";
//       margin-left: -5rem;
//       animation: bounce 2s ease infinite;
//       animation-delay: -1.5s;
//     }
//   }
// }

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-2rem);
  }

  70% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(0);
  }
}

/* NOTES:
    learn about perspective and why we need to have a child for it to take place

    why the &:hover &__side statement


*/
