@import "../../styles/variables";

.container--Card {
  height: 90vh;
  padding: 1rem 5rem 3rem 5rem;

  display: grid;
  grid-template-rows: 20% 80%;

  position: relative;

  &--light {
    background-color: $light-bg;
  }
  &--dark {
    background-color: $dark-bg;
  }
}

.Card {
  &__header {
    font-size: 5rem;
    font-weight: bold;
    padding-left: 8rem;

    &--light {
      color: $light-black;
    }

    &--dark {
      color: $dark-white;
    }
  }

  &__container {
    height: 80%;
    width: 105%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
