@import "../../styles/variables";
@import "../../styles/mixins";

.container--Card {
  height: 85vh;
  padding: 1rem 5rem 3rem 5rem;
  display: grid;
  grid-template-rows: 20% 80%;
  position: relative;

  &--light {
    background-color: $light-bg;
  }
  &--dark {
    background-color: $dark-bg;
  }

  @include respond(phone-land) {
    height: 100vh;
  }
  @include respond(phone) {
    height: 53vh;
  }
  @include respond(phonex) {
    height: 53vh;
  }
  @include respond(tab-port) {
    height: 50vh;
  }
  @include respond(tab-land) {
    height: 70vh;
    overflow: hidden;
  }
}

.Card {
  &__header {
    font-size: 5rem;
    font-weight: bold;
    padding-left: 8rem;

    &--light {
      color: $light-black;
    }

    &--dark {
      color: $dark-white;
    }

    @include respond(phone) {
      margin-left: -7rem;
    }
  }

  &__container {
    height: 80%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    @include respond(tab-port) {
      grid-gap: 9rem;
      margin-left: 1rem;
    }
    @include respond(phone) {
      grid-gap: 7rem;
      margin-left: 1rem;
    }
    @include respond(phonex) {
      grid-gap: 7rem;
      margin-left: 2.4rem;
    }
  }
}

.Cardsss {
  position: relative;
  display: flex;
  justify-content: center;
}
