@import "../../styles/variables";
@import "../../styles/mixins";

.navContainer {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: auto;

  padding-top: 3rem;

  transition: all 0.5s;

  &--dark {
    background-color: rgba($color: $dark-bg, $alpha: 0);
  }

  &--light {
    background-color: rgba($color: $light-bg, $alpha: 0);
  }

  &--hide {
    transform: translateY(-14rem);
  }

  &--show {
    transform: translateY(0rem);
  }

  .project__github--wrapper--link {
    position: absolute;
    width: 11%;
    left: 5rem;
    top: 3.5rem;

    @include respond(phone) {
      left: 1rem;
    }
  }

  .githubLabel {
    background-color: $dark-black;
    height: 3rem;
    padding: 0.5rem;

    position: absolute;
    bottom: 7rem;
    left: 4rem;

    border-radius: 5px;
    margin-top: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid #fff 1px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-bottom-color: #fff;
      border-top: 0;
      margin-left: 2px;
      margin-top: -5px;
    }
    p {
      font-size: 1.2rem;
      color: #fff;
    }
  }
}

.nav {
  width: 65%;
  margin: 0 auto 0 auto;
  padding: 2.5rem;
  border-radius: 2rem;

  @include respond(phone) {
    width: 70%;
  }

  &--dark {
    background-color: $dark-black;
    border: 1px solid $dark-grey-border;
  }
  &--light {
    border: 1px solid $dark-grey-border;
    background-color: $light-grey;
  }

  &::before,
  &::after {
    content: "";
    border-bottom: 1px solid #707070;
    display: block;
    width: 100%;
  }

  &::after {
    transform: translateY(0.8rem);
  }

  &::before {
    transform: translateY(-0.8rem);
  }
}

.navbar {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  padding: 0;

  &__item {
    font-size: 1.6rem;
    @include respond(phone) {
      font-size: 1.9rem;
    }

    &--light {
      color: $light-black;
    }
    &--dark {
      color: $dark-white;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.navbtn {
  height: 6.5rem;
  width: 6.5rem;

  border-radius: 50%;
  display: block;
  margin: 4rem auto 0 auto;
  border: 1px solid $dark-white;
  transition: opacity 0.5s;

  &--initial {
    opacity: 0;
  }

  &--noinitial {
    opacity: 1;
  }

  &--dark {
    background-color: $dark-black;
    &::before,
    &::after {
      width: 66.97%;
      content: "";
      display: block;
      border-bottom: 1px solid $dark-white;
    }
  }

  &--light {
    background-color: $light-grey;
    &::before,
    &::after {
      width: 66.97%;
      content: "";
      display: block;
      border-bottom: 1px solid #1f1a1b;
    }
  }

  &--hide {
    &::before {
      animation-name: moveVright;
      animation-fill-mode: forwards;
      animation-duration: 0.8s;
      margin-right: auto;
    }
    &::after {
      animation-name: moveVleft;
      animation-fill-mode: forwards;
      animation-duration: 0.8s;
      margin-left: auto;
      @include respond(phone) {
        margin-top: -0.2rem;
      }
    }
  }

  &--show {
    &::before {
      width: 100%;
      animation-name: moveToXLeft;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      margin-right: auto;
    }
    &::after {
      width: 100%;
      animation-name: moveToXRight;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      margin-left: auto;
    }
  }

  &:hover {
    cursor: pointer;
    border: 1px solid #0368ec;
  }

  &:focus {
    outline: none;
  }
}

.themebtn {
  position: absolute;
  top: 4.5rem;
  right: 11rem;
  height: 6.5rem;
  width: 6.5rem;
  background-color: $dark-black;
  border-radius: 50%;
  display: block;
  border: 1px solid $dark-white;

  @include respond(phone) {
    right: 5rem;
    width: 7rem;
    height: 7rem;
  }

  &--light {
    background-color: $dark-red;
  }

  .img {
    width: 100%;
    margin-top: 0.4rem;

    @include respond(phone) {
      margin-top: 0.7rem;
    }

    &--light {
      margin-left: 0.4rem;
      margin-bottom: 0.3rem;
    }
  }

  &:hover {
    cursor: pointer;
    border: 1px solid $link-color;
  }

  &:focus {
    outline: none;
  }
}

@keyframes moveToXLeft {
  0% {
    transform: rotate(60deg);
    width: 66.97%;
  }
  100% {
    transform: rotate(50deg);
    width: 100%;
  }
}

@keyframes moveToXRight {
  0% {
    transform: rotate(300deg);
    width: 66.97%;
  }
  100% {
    transform: rotate(310deg);
    width: 100%;
  }
}

@keyframes moveVright {
  0% {
    width: 100%;
    transform: rotate(50deg);
  }
  100% {
    width: 66.97%;
    transform: rotate(60deg);
  }
}

@keyframes moveVleft {
  0% {
    width: 100%;
    transform: rotate(310deg);
  }
  100% {
    width: 66.97%;
    transform: rotate(300deg);
  }
}
