@import "../../styles/variables";
.intro {
  padding: 3rem 7rem 0 7rem;
  height: 85vh;
  position: relative;

  .img {
    &--emoji {
      height: 20rem;
      display: block;
      margin: 0 auto;
    }
  }

  .greeting {
    width: 60%;
    &__header {
      margin: 0;
      font-weight: bold;
      font-size: 5.5rem;
      color: $dark-white;
    }

    &__body {
      margin-top: 1rem;
      font-size: 3.5rem;
      font-weight: lighter;
      color: $dark-white;
    }
  }

  .indicator {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    animation: bounce 3s infinite;

    &__text {
      font-size: 1.6rem;
      color: $dark-white;
    }

    &__icon {
      &::before,
      &::after {
        content: "";
        display: block;
        width: 45%;
        border-bottom: 1px solid $dark-white;
      }

      &::before {
        transform: rotate(30deg) translateX(0.7rem) translateY(-0.18rem);
        margin-right: auto;
      }
      &::after {
        transform: rotate(330deg) translateY(-1.3rem);
        margin-left: auto;
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  57% {
    transform: translateY(-2px);
  }
  64% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
