@import "../../styles/variables";

.Container__Modal--skills {
  position: absolute;

  transform: translate(-50%, -50%);
  z-index: 200;
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid rgba($dark-grey-border, 0.5);

  transition: all 0.7s;

  &--dark {
    background-color: $dark-black;
    color: #fff;
  }

  &--light {
    background-color: $light-blue-square-background;
    color: $dark-black;
  }

  &--true {
    height: 40rem;
    width: 60rem;
    top: 50%;
    left: 50%;
  }

  &--false {
    height: 17rem;
    width: 20rem;

    &--react {
      top: 30.5%;
      left: 12.3%;
    }

    &--html {
      top: 57.5%;
      left: 12.3%;
    }
    &--redux {
      top: 85%;
      left: 12.3%;
    }

    &--css {
      top: 30.5%;
      left: 35.3%;
    }

    &--js {
      top: 57.5%;
      left: 35.3%;
    }
    &--npm {
      top: 85%;
      left: 35.3%;
    }

    &--node {
      top: 30.5%;
      left: 64.7%;
    }

    &--mongodb {
      top: 30.5%;
      left: 85.3%;
    }

    &--docker {
      top: 57.5%;
      left: 64.7%;
    }

    &--redis {
      top: 57.5%;
      left: 85.3%;
    }

    &--postgresql {
      top: 85%;
      left: 76%;
    }
  }
}

.modal {
  &__icon {
    height: 20rem;
    width: auto;
    position: absolute;
    right: 31%;

    transition: all 0.5s;

    &--false {
      opacity: 0;
    }

    &--true {
      opacity: 1;
    }
  }

  &__skill {
    font-size: 2rem;
    transition: all 1s;

    &--false {
      opacity: 0;
    }

    &--true {
      opacity: 1;
    }

    &--1 {
      position: absolute;
      top: 60%;
      left: 45%;

      &--active {
        top: 60%;
        left: 10%;
      }
    }
    &--2 {
      position: absolute;
      top: 60%;
      left: 48%;
      &--active {
        top: 80%;
        left: 48%;
      }
    }
    &--3 {
      position: absolute;
      top: 60%;
      right: 40%;

      &--active {
        top: 60%;
        right: 7%;
      }
    }
  }
}

.container--btn--exit {
  background-color: $dark-red;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;

  right: 1rem;
  top: 1rem;

  &:hover {
    background: rgba($dark-red, 0.5);
    cursor: pointer;
  }

  .btn--exit {
    height: 1px;
    width: 2rem;
    // background-color: white;

    &:hover {
      cursor: pointer;
    }

    &::after,
    &::before {
      width: 1.5rem;
      height: 2px;
      background-color: $dark-white;
      display: inline-block;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 48%;
      left: 20%;
      // transform: translateY(-50%);
    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}
