@import './styles/mixins';

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  background-color: #222831;
  margin: 0;
  font-size: 10px;
  padding: 0 4rem;


  @include respond(big-desktop) {
    font-size: 14px;
  }

  @include respond(med-desktop) {
    font-size: 9px;
    padding: 0;
  }

  @include respond(sm-desktop) {
    font-size: 8px;
    padding: 0;
  }

  @include respond(xs-desktop) {
    font-size: 7px;
    padding: 0;
  }

  @include respond(tab-land) {
    font-size: 8px;
    padding: 0;
  }

  @include respond(tab-port) {
    font-size: 7px;
    padding: 0;
  }

  @include respond(phone) {
    font-size: 5px;
    padding: 0;
  }
  @include respond(phone-land) {
    font-size: 7px;
    padding: 0;
  }
  @include respond(phonex) {
    font-size: 5px;
    padding: 0;
  }
  @include respond(iphone5) {
    font-size: 3.5px;
    padding: 0;
  }

  font-family: Helvetica;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
